:root {
  --color-text: #F8F5F5;
  --primary-color: #E32F7A;
  --secondary-color: #1F1F1F;
  --secondary-bacground: #D9D9D9;
  --background: #0F021C;
  --primary-back: #E2E0E0;
  --crime-color: #3F2E64;
  --army-color: #536641;

  --other-lawyers-color: #F16D74;

  --border-gradient: linear-gradient(275deg, #E32F7A 0%, #D70F74 42%, #912E6F 81%);
  --other-border-gradient: linear-gradient(275deg, #E32F7A 0%, #F16E74 42%, #FBB663 81%);


  --fonts-text: Montserrat;

  --title-text_desktop: 40px;
  --title-text_laptop: 36px;
  --title-text_mobile: 28px;
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


// ::-webkit-scrollbar {
//   width: 5px;
// }

// ::-webkit-scrollbar-track {
//   background-color: transparent;
// }

// ::-webkit-scrollbar-thumb {
//   background-color: #e9e9e9;
//   border-radius: 50px;
//   box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
// }


html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  // user-select: none;
  // scrollbar-width: none;
}

html,
.fill {
  width: 100%;
  height: 100%;
  // background: var(--background);
}



body {
  z-index: -1;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  color: var(--color-text);
  font-family: var(--fonts-text);
  // background: var(--background);
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}



h1,
h2,
h3,
h4,
h5,
p,
li,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}


.hide {
  display: none !important;
}

.spinner-container {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

apple-pay-button {
  --apple-pay-button-width: 300px;
  --apple-pay-button-height: 50px;
  --apple-pay-button-border-radius: 7px;
  --apple-pay-button-margin: 0px 0px 30px 0px;
  --apple-pay-button-box-sizing: border-box;
}

.div_input {
  display: inline-block;
  height: 40px;
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-size: 0.98rem;
  background-color: rgba(var(--main-bg), 1);
  border: 2px solid rgba(var(--default-border-color), 1);
  border-radius: var(--default-border-radius);
  margin: 0;
  padding: 0 0.8rem;
}

.spinner {
  border: 8px solid rgba(0, 0, 0, 0.1);
  border-top-color: lightblue;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}